<?xml version="1.0"?>
<!--
/**
 * Copyright © Shopigo. All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <advanced>
            <modules_disable_output>
                <Shopigo_CatalogAjaxFilter>1</Shopigo_CatalogAjaxFilter>
            </modules_disable_output>
        </advanced>
        <shopigo_catalogajaxfilter>
            <general>
                <enabled>0</enabled>
                <ajax_request_timeout>10000</ajax_request_timeout>
                <scroll_to_top_enabled>1</scroll_to_top_enabled>
                <scroll_to_top_easing>swing</scroll_to_top_easing>
                <scroll_to_top_duration>1200</scroll_to_top_duration>
                <scroll_to_top_offset>20</scroll_to_top_offset>
            </general>
        </shopigo_catalogajaxfilter>
    </default>
</config>
